<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lokibt.bluetooth">

    <!-- Allow IPC with companion app (required for API 30 and higher) -->
    <queries>
        <package android:name="com.lokibt.emulator" />
    </queries>

    <!-- needs internet permission to contact the discovery server... -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
